<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
    <link rel="stylesheet" href="/static/details.css" />
  </head>
  <body>
    <h1 id="header">User Details</h1>
    <!-- User Bio Section -->
    {% if user.image_url %}
    <div id="user-pic">
      <img src="{{user.image_url}}" alt="user profile" id="pic" />
    </div>
    {%endif%}

    <div id="content">
      <h2>{{user.first_name}} {{user.last_name}}</h2>
      <form>
        <button formaction="/users/{{user.user_id }}/edit" formmethod="GET">
          Edit Profile
        </button>
        <button formaction="/users/{{user.user_id}}/delete" formmethod="POST">
          Delete Profile
        </button>
        <button formaction="/users/{{user.user_id}}/posts/new" formmethod="GET">
          Create New Post
        </button>
      </form>
    </div>

    <!-- Posts section -->
    <div class="post-div">
      <h2>Posts</h2>
      {{user.content}}
      <!-- List of Posts  -->
      {% for post in user.posts %}
      <ul>
        <li><a href="/posts/{{post.post_id}}">{{post.title}}</a></li>
      </ul>
      {%endfor%}
    </div>

    <!-- Return to Home Page Nav  -->
    <a href="/users" id="link-home">Visit Home Page</a>
  </body>
</html>
