<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/static/form.css">
  </head>
  <body>
    <h1 id="header">Edit {{post.title}} Details</h1>
    <body>
      <div id="content">

        <!-- form -->
        <form method="POST">
          <label for="title">
            Title
            <input
              type="text"
              id="title"
              name="title"
              placeholder="The Best Title"
              required
            />
          </label>
          <label for="post-content"
            >Content
            <input
              type="text-area"
              id="post-content"
              name="post-content"
              placeholder="Awesome content"
              required
            />
          </label>
          <p>Previous Content: {{post.content}}</p>
          <br />
          <button type="submit">Save Changes</button>
          <a href="/users/{{post.user_id}}"id ="cancel-butt">Cancel</a>
        </form>
      </div>
      <a href="/users" id="link-home">Visit Home Page</a>
  </body>
</html>
