<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
    <link rel="stylesheet" href="/static/form.css">
  </head>
  <body>
    <h1 id="header">Edit User Profile</h1>
    <body>
      <div id="content">

        <!-- form -->
        <form method="POST">
          <label for="first_name">
            First Name
            <input
              type="text"
              id="first_name"
              name="first_name"
              placeholder="Joe"
              required
            />
          </label>
          <label for="last_name"
            >Last Name
            <input
              type="text"
              id="last_name"
              name="last_name"
              placeholder="Green"
              required
            />
          </label>
          Image Url
          <label for="image_url">
            <input
              type="text"
              id="image_url"
              name="image_url"
              placeholder="https://images.unsplash.com/photo-1658156369501-bd795c3f0938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
            />
          </label>
          <br />
          <br />
          <button type="submit">Save Changes</button>
          <a href="/users" id="cancel-butt">Cancel</a>
        </form>
      </div>
      <a href="/users" id="link-home">Visit Home Page</a>
  </body>
</html>
