<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details</title>
    <link rel="stylesheet" href="/static/details.css" />
  </head>
  <body>
    <h1 id="header">{{post.title}} Details</h1>

    <div id="content">
      <p>Title:{{post.title}}</p>
      <p>Content:{{post.content}}</p>
      <small>Created on: {{post.created_at}}</small>
      <br />
      <form>
        <button formaction="/posts/{{post.post_id}}/edit" formmethod="GET">
          Edit Post
        </button>
        <button formaction="/posts/{{post.post_id}}/delete" formmethod="post">
          Delete Post
        </button>
        <button formaction="/users/{{post.user_id}}">
          Return to User Profile
        </button>
      </form>
    </div>

    <!-- Return to user details page LINK FIX THIS LATER-->

    <!-- Return to Home Page Nav  -->
    <a href="/users" id="link-home">Visit Home Page</a>
  </body>
</html>
