<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/form.css">
  </head>
  <body>
    <h1 id="header">Create a New Post for: {{user.first_name}} {{user.last_name}}</h1>
    <body>
      <div id="content">

        <!-- form -->
        <form method="POST">
          <label for="title">
            Title
            <input
              type="text"
              id="title"
              name="title"
              placeholder="Title Here"
              required
            />
          </label>
          <label for="post-content"
            >Content
            <input
              type="text"
              id="post-content"
              name="post-content"
              placeholder="I love to use Blogly!"
              required
            />
            </label>
          <br />
          <br />
          <h2>Add Tags</h2>

          {%for tag in tags%}
          <label for="tags">
          <input type="checkbox" id = {{tag.id}} name = "tags" value = {{tag.id}}>{{tag.name}}
        </label>
        {%endfor%}

        <br />
        <br />
        <form>
          <button formaction="/users/{{user.user_id}}/posts/new" formmethod="POST">
            Add Post
          </button>
          <button formaction = "/users/{{user.user_id}}">Cancel</button>
        </form>
      </div>

      
      <a href="/users" id="link-home">Visit Home Page</a>
  </body>
</html>
